<style>
    .message-content{
        font-family: 'Times New Roman', Times, serif;
        max-width: 500px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <h4>Hello {{name}}!</h4>
    <br/>
    <p>your password reset is ready</p>
    <p>Click your link and reset your password</p>
    <p>
        <a href="{{link}}">Reset my password</a>
    </p>

    <p>
        if it wasn't you, get in touch
    </p>

    <p>
        Thanks!!
    </p>
</div>